<div class="container">
  
  <div class="row">
    <div class="col-md-12">
      <h4>Designer View</h4>
      </div>
  </div>
  <hr />
  <div>
    <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
      <div class="row">
        <div class="col-md-4">
          <label>Form Name</label>
          <input type="text" class="form-control" formControlName="formName">
        </div>
        <div class="col-md-4">
          <label>Region</label>
          <input type="text" class="form-control" formControlName="region">
        </div>
        <div class="col-md-4">
            <label>IndexArea</label>
            <select class="form-control" formControlName="indexArea">
                <option value="Pre">Pre</option>
                <option value="Post">Post</option>
                <option value="Diag">Diag</option>
            </select>
          </div>
        </div> 
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-danger pull-right" [disabled]="!myForm.controls.region.valid || !myForm.controls.indexArea.valid" (click)="next()">Proceed</button>
          </div>
        </div>

        <hr />


        <div class="row" *ngIf="askQuestions==true">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <button type="submit" class="btn btn-primary" [disabled]="myForm.controls.questions.controls.length<=1" (click)="previousPage(userIndex)">Previous</button>
            {{userIndex}}
            <button type="submit" class="btn btn-primary" [disabled]="myForm.controls.questions.controls.length==userIndex" (click)="nextPage(userIndex)">Next</button>
          </div>
          <div class="col-md-4"></div>
        </div>
        <br />
        
        <div formArrayName="questions" *ngIf="askQuestions==true">
        
        <div *ngFor="let questions of myForm.controls.questions.controls;index as i" [formGroupName]="i">
        
        <!-- <div *ngIf="i === myForm.controls.questions.controls.length -1"> -->

        <div *ngIf="i === userIndex -1">
          <div class="card">
        <!-- x  {{userIndex}} -->
        <div class="card-header">
            <!-- <div class="row"> -->

              <span>Questions {{i + 1}}</span>
              
              <span class="fa fa-remove float-right" (click)="removeAddress(i)">RemoveQuestion</span>
            <!-- </div> -->
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <label>Question</label>
              <input type="text" class="form-control" formControlName="name">
              
            </div>
            <div class="col-md-5">
              <label>QuestionType</label>
              <select class="form-control" formControlName="type">
                <option value="dropdown">Dropdown</option>
                <option value="checkbox">Checkbox</option>
                <option value="textbox">Textbox</option>
            </select>
            </div>
            <div class="col-md-1"></div>
          </div>
          
          
          </div>
          <div class="card-footer">
              <!-- <div class="row">
                <div class="col-md-11"> -->
                  <button type="submit" class="btn btn-primary float-right" 
                  [disabled]="!questions.controls.name.valid || !questions.controls.type.valid || submitOption" 
                  (click)="validateQue(myForm,i)">Validate Question</button>
                <!-- </div>
              </div> -->
              </div>
          </div>

          
          

          <div formArrayName="options" *ngIf="askOptions==true">
            <div *ngFor="let optionsQuestions of questions.controls.options.controls;let j = index" [formGroupName]="j" class="card">
              <div class="card-header">
                <span>QuestionOptions {{j + 1}}</span>
                <span class="glyphicon glyphicon-remove pull-right" (click)="removeAddress(j)">RemoveOption</span>
              </div>
              <div class="card-block">
                <div class="row">
                  <div class="col-md-4">
                    <label>OptionLabel</label>
                    <input type="text" class="form-control" formControlName="label">
                    
                  </div>
                  <div class="col-md-4">
                    <label>OptionName</label>
                    <input type="text" class="form-control" formControlName="typeName">
                </div>
                <div class="col-md-4">
                  <label>OptionValue</label>
                    <input type="text" class="form-control" formControlName="typeValue">
                </div>
              </div>
              </div>
              <!-- <div class="card-footer"  *ngIf="optionIndex==j">
                <button type="submit" class="btn btn-primary pull-right" *ngIf="addOptionBtn==true" (click)="addOption(i)">Add Option</button>
              </div> -->
            </div>
            <button type="submit" class="btn btn-primary float-right" (click)="addOption(i)">Add Option</button>
          </div> 
          </div>
           
            
          </div>
          <div class="row">
           <button type="submit" *ngIf="submitOption==true" [disabled]="!myForm.valid" class="btn btn-primary float-right" (click)="submitTemplate(myForm)">Submit Template</button>  
            <button type="submit" *ngIf="submitOption==true" class="btn btn-primary float-right" (click)="addQuestion()">Add Another Question</button>
            </div>
        </div>

        
        <div class="clearfix"></div>

        <div class="margin-20">
          <div>myForm details:-</div>
          <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
          <pre>form value: <br>{{myForm.value | json}}</pre>
        </div>
      </form>
      </div>

      <div class="view2">
     
     <!-- <form-preview [formPre]="myForm"></form-preview>    -->
    </div>
  
</div>



